name: vimscript / vint

on:
  push:
    branches: [master, main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version: 3.9

      - name: Install project dependencies
        run: pip install vim-vint

      - name: Run exercism/vimscript ci (runs tests) for all exercises
        run: vint .
