name: vimscript / vint

on:
  push:
    branches: [master, main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
        with:
          python-version: 3.9

      - name: Install project dependencies
        run: pip install vim-vint

      - name: Run exercism/vimscript ci (runs tests) for all exercises
        run: vint .
