name: vimscript / main

on:
  push:
    branches: [master, main]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install project dependencies
        run: |
          sudo apt-get update -q
          sudo apt-get install vim-gtk

      - name: Run exercism/vimscript ci (runs tests) for all exercises
        run: bin/ci
